@import "./../styles/variables.scss";

nav {
  background: $primary;
}

$navbar-dark-color: $light;

.bg-purple {
  background-color: $bg;
}


@media (max-width: 769px) {
}

@import "~bootstrap/scss/bootstrap";
